.tip_overflow{
	font:10px/12px;
	font-family:verdana;
	border:solid 1px #000000;
	width:300px;
	padding:1px;
	position:absolute;
	z-index:100;
	visibility:hidden;
	color:#000000;
	top:20px;
	left:90px;
	background-color:#def;
	text-align:left;
	word-wrap: break-word;
	overflow:scroll;
}

.tip{
	font:10px/12px;
	font-family:verdana;
	border:solid 1px #000000;
	width:300px;
	padding:1px;
	position:absolute;
	z-index:100;
	visibility:hidden;
	color:#000000;
	top:20px;
	left:90px;
	background-color:#def;
	text-align:left;
	word-wrap: break-word;
}