<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-4.2.xsd">
    <!-- <http security="none" pattern="/public/**"  use-expressions="true" />  -->
	 <http auto-config="true" use-expressions="true"> 
	   <csrf disabled="true"/>  
	   <!--  <intercept-url pattern="/" access="permitAll()" />  -->
       <!--  <intercept-url pattern="/" access="authenticated" />  -->
        <intercept-url pattern="/user**"  access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" />
        <intercept-url pattern="/add**" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" />
        <intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/edit**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
        <intercept-url pattern="/update**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
        <intercept-url pattern="/other/**" access="isAuthenticated()" />
        
        <access-denied-handler error-page="/403" />
        <form-login  login-page="/login" login-processing-url="/j_spring_security_login"
     		         default-target-url="/userInfo" authentication-failure-url="/login?error=true"
      			     username-parameter="username" password-parameter="password" />
   		 <logout logout-url="/j_spring_security_logout" 
     			  logout-success-url="/logout" invalidate-session="true" delete-cookies="JSESSIONID" />
     	<!-- <remember-me key="reMember" token-validity-seconds="1440" /> -->	
 
	</http>

	<authentication-manager>
		   <authentication-provider>
	            <jdbc-user-service data-source-ref="dataSource"
	              	users-by-username-query="select username, password, enabled, UserID from user where username=?"
			    	authorities-by-username-query="select u.username, ur.user_role from user u, user_role ur where u.id=ur.idUser and username=?"  />
	        </authentication-provider>  
	</authentication-manager>
</beans:beans>