<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<mvc:annotation-driven />
	<mvc:resources mapping="/public/**" location="/public/" />
	<mvc:default-servlet-handler />
	<context:component-scan
		base-package="com.idi.finance" />

	<!-- Config folder to load jsp page for view layer with apache tiles -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.tiles3.TilesViewResolver">
	</bean>

	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles.xml</value>
			</list>
		</property>
	</bean>

	<!-- Other class (old version, before spring 3.1) org.springframework.beans.factory.config.PropertyPlaceholderConfigurer -->
	<bean id="properties"
		class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:idifinance.properties</value>
				<value>classpath:idifinance_hangso.properties</value>
			</list>
		</property>
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages/financevalidator" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<bean id="khachHangValidator"
		class="com.idi.finance.validator.KhachHangValidator" />
	<bean id="nhaCungCapValidator"
		class="com.idi.finance.validator.NhaCungCapValidator" />
	<bean id="chungTuValidator"
		class="com.idi.finance.validator.ChungTuValidator" />
	<bean id="loaiTaiKhoanValidator"
		class="com.idi.finance.validator.LoaiTaiKhoanValidator" />
	<bean id="nghiepVuValidator"
		class="com.idi.finance.validator.NghiepVuValidator" />
	<bean id="nganHangValidator"
		class="com.idi.finance.validator.NganHangValidator" />
	<bean id="nganHangTaiKhoanValidator"
		class="com.idi.finance.validator.NganHangTaiKhoanValidator" />
	<bean id="kyKeToanValidator"
		class="com.idi.finance.validator.KyKeToanValidator" />
	<bean id="donViValidator"
		class="com.idi.finance.validator.DonViValidator" />
	<bean id="nhomHangHoaValidator"
		class="com.idi.finance.validator.NhomHangHoaValidator" />
	<bean id="hangHoaValidator"
		class="com.idi.finance.validator.HangHoaValidator" />
	<bean id="khoBaiValidator"
		class="com.idi.finance.validator.KhoBaiValidator" />
	<bean id="ketChuyenButToanValidator"
		class="com.idi.finance.validator.KetChuyenButToanValidator" />
	<bean id="balanceSheetValidator"
		class="com.idi.finance.validator.BalanceSheetValidator" />

	<!-- Config for upload file feature -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- setting maximum upload size -->
		<property name="maxUploadSize" value="2500000" />
	</bean>

	<bean id="dungChung" class="com.idi.finance.bean.DungChung"
		init-method="init"></bean>
	<bean id="props" class="com.idi.finance.utils.PropCont"
		init-method="init"></bean>

	<!-- Config database connection -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/IDIGROUP_133?useUnicode=true&amp;characterEncoding=UTF-8" />
		<property name="username" value="root" />
		<property name="password" value="" />
		<!-- <property name="password" value="idi123456" /> -->
	</bean>

	<bean id="jdbcTmpl"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- Enable Annotation based Declarative Transaction Management -->
	<tx:annotation-driven proxy-target-class="true"
		transaction-manager="transactionManager" />

	<!-- Creating TransactionManager Bean, since JDBC we are creating of type 
		DataSourceTransactionManager -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="cauHinhDAO"
		class="com.idi.finance.dao.impl.CauHinhDAOImpl">
		<property name="jdbcTmpl" ref="jdbcTmpl" />
	</bean>

	<bean id="balanceSheetDAO"
		class="com.idi.finance.dao.impl.BalanceSheetDAOImpl">
		<property name="jdbcTmpl" ref="jdbcTmpl" />
	</bean>

	<bean id="kpiDAO" class="com.idi.finance.dao.impl.KpiChartDAOImpl">
		<property name="jdbcTmpl" ref="jdbcTmpl" />
	</bean>

	<bean id="taiKhoanDAO"
		class="com.idi.finance.dao.impl.TaiKhoanDAOImpl">
		<property name="jdbcTmpl" ref="jdbcTmpl" />
	</bean>

	<bean id="chungTuDAO"
		class="com.idi.finance.dao.impl.ChungTuDAOImpl">
		<property name="jdbcTmpl" ref="jdbcTmpl" />
	</bean>

	<bean id="khachHangDAO"
		class="com.idi.finance.dao.impl.KhachHangDAOImpl">
		<property name="jdbcTmpl" ref="jdbcTmpl" />
	</bean>

	<bean id="nhaCungCapDAO"
		class="com.idi.finance.dao.impl.NhaCungCapDAOImpl">
		<property name="jdbcTmpl" ref="jdbcTmpl" />
	</bean>

	<bean id="nhanVienDAO"
		class="com.idi.finance.dao.impl.NhanVienDAOImpl">
		<property name="jdbcTmpl" ref="jdbcTmpl" />
	</bean>

	<bean id="soKeToanDAO"
		class="com.idi.finance.dao.impl.SoKeToanDAOImpl">
		<property name="jdbcTmpl" ref="jdbcTmpl" />
	</bean>

	<bean id="baoCaoDAO"
		class="com.idi.finance.dao.impl.BaoCaoDAOImpl">
		<property name="jdbcTmpl" ref="jdbcTmpl" />
	</bean>

	<bean id="congViecDAO"
		class="com.idi.finance.dao.impl.CongViecDAOImpl">
		<property name="jdbcTmpl" ref="jdbcTmpl" />
	</bean>

	<bean id="kyKeToanDAO"
		class="com.idi.finance.dao.impl.KyKeToanDAOImpl">
		<property name="jdbcTmpl" ref="jdbcTmpl" />
	</bean>

	<bean id="hangHoaDAO"
		class="com.idi.finance.dao.impl.HangHoaDAOImpl">
		<property name="jdbcTmpl" ref="jdbcTmpl" />
	</bean>

	<bean id="diaChiDAO"
		class="com.idi.finance.dao.impl.DiaChiDAOImpl">
		<property name="jdbcTmpl" ref="jdbcTmpl" />
	</bean>

	<bean id="nganHangDAO"
		class="com.idi.finance.dao.impl.NganHangDAOImpl">
		<property name="jdbcTmpl" ref="jdbcTmpl" />
	</bean>

	<bean id="khoHangDAO"
		class="com.idi.finance.dao.impl.KhoHangDAOImpl">
		<property name="jdbcTmpl" ref="jdbcTmpl" />
	</bean>

	<bean id="loaiTienDAO"
		class="com.idi.finance.dao.impl.LoaiTienDAOImpl">
		<property name="jdbcTmpl" ref="jdbcTmpl" />
	</bean>
</beans>